<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head >
<th:block th:replace="fragments/header :: header"></th:block>
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body th:attr="data-show-redirect=${session.redirectFromProtected}">

   <th:block th:replace="fragments/bodySection :: bodySection"></th:block>

<div class="merchant_login_wrapper">
    <div class="merchant_login_container">
        <h1 class="merchant_login_title">登入</h1>
        <div th:if="${success}" style="background-color: #d4edda; color: #155724; padding: 10px; border-radius: 6px; margin-bottom: 20px;" th:text="${success}"></div>
         <form th:action="@{/registerAndLogin/login}" method="post">
            <!-- 使用者類型 -->
            <div class="merchant_form_group">
                <label class="merchant_form_label">使用者類型</label>
                <label><input type="radio" name="userType" value="member" th:checked="${userType} == null or userType == 'member'"> 受助者</label>
                <label class="ml-3"><input type="radio" name="userType" value="store" th:checked="${userType} == 'store'"> 合作店家</label>
            </div>
            
            <!-- 帳號 or Email -->
            <div class="merchant_form_group">
                <label class="merchant_form_label" for="account">帳號 <span id="accountLabel">(請輸入帳號)</span></label>
                <input type="text" name="account" id="account" class="merchant_form_input" required>
            </div>

            <!-- 密碼 -->
            <div class="merchant_form_group">
                <label class="merchant_form_label" for="password">密碼</label>
                <input type="password" name="password" id="password" class="merchant_form_input" required>
            </div>
            


            <button type="submit" class="merchant_login_btn">登入</button>
        </form>
        <!-- 錯誤成功訊息 -->
<p class="text-danger text-center" th:if="${error}" th:text="${error}"></p>
<p class="text-success text-center" th:if="${success}" th:text="${success}"></p>

<div class="merchant_divider"></div>

        
        <div class="merchant_divider"></div>

        
        <div class="merchant_register_container">
            <span class="merchant_register_text">還不是會員？</span>
            <a  class="merchant_register_link" th:onclick="|location.href='@{/registerAndLogin/register}'|">立即註冊</a>
        </div>
        <div class="merchant_register_container">
    <span class="merchant_register_text">沒有收到驗證信？</span>
    <a class="merchant_register_link" th:href="@{/registerAndLogin/resendMail}">重新寄送驗證信</a>
</div>
    </div>
    
</div>
<!-- Login Section End -->

<!-- Footer Start -->
<th:block th:replace="fragments/footer :: footer"></th:block>

 <!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

<!-- Login JavaScript -->
<!-- 用戶類型切換 -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
    document.querySelectorAll('input[name="userType"]').forEach(radio => {
        radio.addEventListener('change', function () {
            const label = document.getElementById('accountLabel');
            label.textContent = this.value === 'store'
                ? '(請輸入Email)'
                		
                : '(請輸入帳號)';
        });
    });
</script>


<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        let show = /*[[${session.redirectFromProtected}]]*/ false;

        if (show) {

            alert("請先登入才能進入會員專區，將為您跳轉至登入頁");

            document.body.setAttribute("data-show-redirect", "false");
        }
    });
</script>


</body>

</html>
