<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>設定新密碼 - 攏呷霸 ALLiEAT</title>
  <link rel="stylesheet" href="/css/login.css"> 
</head>
<body>

<div class="merchant_login_wrapper">
  <div class="merchant_login_container">
    <h1 class="merchant_login_title">設定新密碼</h1>

    <form th:action="@{/registerAndLogin/savePassword}" method="post" class="merchant_form">
      <div class="merchant_form_group">
        <label class="merchant_form_label" for="password">請輸入新密碼：</label>
        <input type="password" id="password" name="password" class="merchant_form_input" required>
      </div>

      <button type="submit" class="merchant_login_btn">儲存新密碼</button>
    </form>

    <div class="merchant_divider"></div>

    <div class="merchant_register_container">
      <span class="merchant_register_text">已完成重設？</span>
      <a class="merchant_register_link" th:href="@{/registerAndLogin/login}">返回登入頁</a>
    </div>
  </div>
</div>

</body>
</html>
